@charset "utf-8";


/****LEFT 메뉴*****/
#lm_pc {position: relative;z-index: 3;display: table-cell;width: 250px;height: 100%;vertical-align: top;background-color: #f2f3f8;}
#lm_pc.fixed{position:fixed;top: 70px;left: 0}

#lm_pc .bt-mn{border-color:#fff; border-radius:0px; position: relative; display: block; width: 100%; height: 67px;padding:0  0px 0 0px;background-color: #fff; text-align: center;outline:none;color: #fff; border-right:0px;}
#lm_pc .bt-mn span{font-weight:600;font-size:17px;color:#39465C;  }
#lm_pc .bt-mn .home_btn{ position: absolute; top:50%; right: 39px; width: 18px; height: 18px; margin-top: -9px; display: block;}
#lm_pc .bt-mn .home_btn.no_home{display:none;}
#lm_pc .bt-mn em{ position: absolute; top:50%; right: 5px;transform:translate(0,-50%); width: 28px; height: 28px;display: block;background-color:#287cd5;border-radius:100%;}
#lm_pc .bt-mn em i{ position: absolute; left: 50%;transform:translate(-50%,-50%);display: block; width: 50%; height: 2px; background-color:#fff;}
#lm_pc .bt-mn em i:nth-child(1){ top:9px;}
#lm_pc .bt-mn em i:nth-child(2){ top:13px;}
#lm_pc .bt-mn em i:nth-child(3){ top:17px;}
#lm_pc.lmClose .bt-mn{ padding: 0; text-align: center;height: 68px;}
#lm_pc.lmClose .bt-mn span{ display: none;}
#lm_pc.lmClose .bt-mn em{left: 50%; transform:translate(-50%,-50%);}
#lm_pc.lmClose #menu_tree{ display: none;}
#lm_pc.lmClose .snbClo{ display: block;}
/****2022.04.12 추가 left 메뉴 bold처리, 3depth 메뉴 구분선 추가*****/
#menu_tree li a {font-weight : bold;}
#menu_tree .mdepth2 li+li {border-top: 1px solid #f1f1f1;}
#menu_tree .mdepth2 li a {font-weight: normal;}

.item{background-color: #ffffff;}


.snb a{ display: block; cursor: pointer;}
.snb > li + li{ margin-top:0px;}
.snb > li > a{ position: relative; background-color: #f2f3f8; padding: 10px 20px;border-bottom:1px solid #dcdfed;font-size: 13px; font-weight: 400;color:#39465C;}
.snb > li > a > i{ margin-right: 15px;width: 18px; text-align: center;font-size:16px;color: #39465C;}
.snb > li > a::before{ content: ''; width: 5px; position: absolute; top:0; left: -5px; bottom:0; background-color: #287cd5; opacity: 0; -webkit-transition: all 0.2s ease-in-out;-moz-transition: all 0.2s ease-in-out;-ms-transition: all 0.2s ease-in-out;-o-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out;}
.snb > li > a.depth::after{ content:'';position: absolute; top:50%; right:20px; margin-top: -.2em;width:8px;height:8px;border:1px solid #6f7683;border-top:transparent;border-right:transparent;transform: rotate(223deg);-webkit-transition: all 0.2s ease-in-out;-moz-transition: all 0.2s ease-in-out;-ms-transition: all 0.2s ease-in-out;-o-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out;color: #6f7683;}
.snb > li.active > a,
.snb > li.active > a > i,
.snb > li:hover > a > i,
.snb > li:hover > a{ color:#287cd5;}
.snb > li.active > a::before,
.snb > li > a:hover::before{ left: 0; opacity: 1;}
.snb > li.active > a::after{ transform: rotate(316deg); margin-top: -.3em;}
.snb > li > ul{ padding: 5px 0; display: none;background-color:#fff;border-bottom:1px solid #dcdfed;}
.snb > li > ul > li > a{ position: relative; padding: 8px 10px 8px 30px;font-size:13px;color:#39465c;}
.snb > li > ul > li.hasSub > a::before{ content: ''; position: absolute; top:50%; left: 50px; margin-top: -5px; width: 10px; height: 10px; vertical-align: middle; display: inline-block; background: url('../images/sub/ic_plus.png') 50% 50% no-repeat; opacity: .95; -webkit-transition: all 0.2s ease-in-out;-moz-transition: all 0.2s ease-in-out;-ms-transition: all 0.2s ease-in-out;-o-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out;}
.snb > li > ul > li > a:hover{ color: #287cd5;}
.snb > li > ul > li.active > a{ color:#287cd5;}
.snb > li > ul > li.active.open > a{ color: #287cd5;}
.snb > li > ul > li.hasSub.open > a::before{ background: url('../images/sub/ic_plus.png') 50% 50% no-repeat; opacity: 1;}
.snb > li > ul > li.hasSub.active.open > a::before{background: url('../images/sub/ic_minus.png') 50% 50% no-repeat; opacity:1;}
.snb > li > ul > li.hasSub > a:hover::before{background: url('../images/sub/ic_plus_active.png') 50% 50% no-repeat; opacity:1}
.snb > li > ul > li > ul{ display: none;}
.snb > li > ul > li > ul > li > a{ padding: 7px 50px 7px 75px;font-size:12px;color:#39465c;}
.snb > li > ul > li > ul > li > a:hover,
.snb > li > ul > li > ul > li.active > a{color: #287cd5;}

.snbClo{ display: none; }
.snbClo a{ display: block;cursor: pointer;font-size:12px;}
.snbClo > li{ position: relative;}
.snbClo > li + li{ margin-top: 1px;}
.snbClo > li > a{position: relative; background-color: #f2f3f8; padding: 18px 30px;font-size:16px;font-weight: 400; color: #39465C;}
.snbClo > li > a > i{ margin-right: 4px;width: 18px; text-align: center;color: #39465C; }
.snbClo > li > a::before{ content: ''; width: 5px; position: absolute; top:0; left: -5px; bottom:0; background-color: #287cd5; opacity: 0; -webkit-transition: all 0.2s ease-in-out;-moz-transition: all 0.2s ease-in-out;-ms-transition: all 0.2s ease-in-out;-o-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out;}
.snbClo > li > a:hover > i{color:#287cd5;}
.snbClo > li.active > a{ color:#287cd5;}
.snbClo > li.active > a >i{ color:#287cd5;}
.snbClo > li.active > a::before{ left: 0; opacity: 1;}
.snbClo > li > .mdepth2{ position: absolute; top:-15px; left: 67px; padding: 20px; display: none;}
.snbClo > li > .mdepth2::before{ content: ''; position: absolute; top:40px; left: 15px;width:12px;height:12px;transform:rotate(44.1deg);background-color:#f2f3f8;border:1px solid #e7eaf8;border-top:transparent;border-right:transparent;}
.snbClo > li > .mdepth2 > .inbx{ padding: 20px 20px 15px 20px; background-color: #f2f3f8;border:1px solid #e7eaf8; width:160px; border-radius: 2px;}
.snbClo > li > .mdepth2 > .inbx > .mdepth1{display: block;font-size:13px; color: #287cd5;}
.snbClo > li > .mdepth2 > .inbx > ul{ padding: 15px 0;}
.snbClo > li > .mdepth2 > .inbx > ul > li > a{ position: relative; padding: 8px 0 8px 18px;font-size:13px;color:#39465c;}
.snbClo > li > .mdepth2 > .inbx > ul > li > a:hover{ color: #287cd5;}
.snbClo > li > .mdepth2 > .inbx > ul > li.hasSub > a::before{ content: ''; position: absolute; top:50%; left: -2px; margin-top: -5px; width: 10px; height: 10px; vertical-align: middle; display: inline-block; background: url('../images/sub/ic_plus.png') 50% 50% no-repeat; opacity: 1;}
.snbClo > li > .mdepth2 > .inbx > ul > li.active.open > a{ color: #287cd5;}
.snbClo > li > .mdepth2 > .inbx > ul > li.hasSub.open > a::before{ background: url('../images/sub/ic_plus.png') 50% 50% no-repeat; opacity:1;}
.snbClo > li > .mdepth2 > .inbx > ul > li.hasSub.active.open > a::before{background: url('../images/sub/ic_minus.png') 50% 50% no-repeat; opacity:1;}
.snbClo > li > .mdepth2 > .inbx > ul > li.hasSub > a:hover::before{background: url('../images/sub/ic_plus_active.png') 50% 50% no-repeat; opacity:1}
.snbClo > li > .mdepth2 > .inbx > ul > li > ul{ display: none;}
.snbClo > li > .mdepth2 > .inbx > ul > li > ul > li > a{ padding: 7px 0 7px 30px;font-size:12px;color:#39465c;}
.snbClo > li.active > .mdepth2{ display: block;}
.snbClo > li > .mdepth2 > .inbx > ul > li > ul > li > a:hover,
.snbClo > li > .mdepth2 > .inbx > ul > li > ul > li.active > a{color: #287cd5;}
#sub_wrap.lmClose #lm .snb{ display: none;}
#sub_wrap.lmClose #lm .snbClo{ display: block;}

.location{width:100%;border-bottom:1px solid #ededed;padding-bottom:15px;}
.location h3{position:relative;font-size:18px;color:#39465c;}
.location ul.nav_n{position:absolute;right:0px;top:-10px;}
.location ul.nav_n > li{ position: relative; display: inline-block; float: left; height: 36px; line-height: 36px;padding: 0 13px; white-space: nowrap;font-size:12px;font-weight:300;color: #464646;}
.location ul.nav_n > li a{font-size:12px;font-weight:300;}
.location ul.nav_n > li.active{font-weight:600;padding-right:0px;}
.location ul.nav_n > li::after{content:'';position:absolute;top:50%;right:0px;width:5px;height:5px;transform:translate(0,-50%) rotate(-132deg);border:1px solid #777a7e;border-top:transparent;border-right:transparent;}
.location ul.nav_n > li:last-child::after{content:'';border:none;}

.subconts{/*padding:20px 0 0 0;*/ background-color:#f6f7fb;}
