@charset "utf-8";


*:before, *:after{box-sizing: border-box}
/* @import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800'); */
 
html, body, div, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {
	border: 0;font-size: 100%;font: inherit;vertical-align: baseline;font-family:Arial, Dotum,"돋움", sans-serif; font-weight: 300;-webkit-touch-callout:none;
}

legend, caption {overflow:hidden;width:1px;height:1px;color:transparent;}
input, textarea{-webkit-appearance: none;} /* only iOS */
button{background:transparent; border:0; outline:none !important;}
select{font-family: 'Noto Sans KR';}
em{font-weight:500}
strong{font-weight:700}


*{margin: 0; padding: 0; box-sizing: border-box;}
a{text-decoration: none; color: inherit}
ol, ul{list-style: none}

/* common style */
.hide{font-size: 0 !important; visibility: hidden !important; color: transparent !important}

/* header */
#header{margin: 0; border-bottom: 1px solid #f3f3f3;position: relative;}
#header:after{content:''; display: block; clear: both}
#header .logo{position: absolute; top: 20px; left: 31px; z-index:100;}
#header .logo a{display: block; width: 170px; height: 40px; background: url(/resources/images/pearl/main/logoW.png) no-repeat center center; background-size: contain;}
#header .logo.white a{display: block; width: 170px; height: 40px; background: url(/resources/images/pearl/main/logoWs.png) no-repeat center center; background-size: contain;}
#header .h_util{position: absolute; top: 20px; right: 31px}
#header .h_util > * {vertical-align: middle}
#header .h_util .members{display: inline-flex; align-items: center; margin-right: 6px; margin-bottom: 0; letter-spacing: -0.5px; font-size: 12px}
#header .h_util .members:before{content:''; display: inline-block; width: 19px; height: 20px; margin-right: 8px; background: url(/resources/images/pearl/main/ico_member.png) no-repeat center center; background-size: 100% auto; vertical-align: middle}
#header .h_util .top-logout{padding: 4px 10px 5px; border: 1px solid #dfdfdf; border-radius: 10px; background-color: #edf2f6; line-height:1; font-size: 13px; color: #999; cursor:pointer}
#header .h_util .all-menu-open{width: 25px; height: 42px; margin-left: 26px; background: transparent url(/resources/images/pearl/main/btn_menu.png) no-repeat center center; background-size: 100% auto; border: 0}
#header .h_util .top-login{padding: 4px 10px 5px; border: none; border-radius: 10px; background: #81acc9; line-height:1; font-size: 13px; color: #ffffff; cursor:pointer}

/* gnb */
/*#gnbframe {position: relative}*/
#gnbframe .gnb{max-width: 1000px; margin: 0 auto; text-align: center}
#gnbframe a{letter-spacing: -1px; font-size: 16px; text-decoration: none; color: #333}
#gnbframe .depth3 a:hover{font-weight: 700; color: #177db8}
#gnbframe .depth1{display: inline-block}
#gnbframe .depth1+.depth1{margin-left: 50px}
#gnbframe .depth1 > a{position: relative; display: inline-block; padding: 27px 13px 26px; font-size: 20px; font-weight: 700;}
#gnbframe .depth1 > a:after{content:"";width: 100%;height:3px;position: absolute;left: 0;bottom:-1px;display: block;background-color:#a30c5e; -webkit-transform: scaleX(0);-moz-transform: scaleX(0);-ms-transform: scaleX(0);-o-transform: scaleX(0);transform: scaleX(0);-webkit-transition: transform .35s ease;-moz-transition: transform .35s ease; -o-transition: transform .35s ease;-ms-transition: transform .35s ease;z-index:10;}
#gnbframe .depth1 > a:hover:after, #gnbframe .depth1.this > a:after, #gnbframe .depth1.on > a:after{-webkit-transform: scaleX(1);-moz-transform: scaleX(1);-ms-transform: scaleX(1);-o-transform: scaleX(1);transform: scaleX(1)}
#gnbframe .depth2{display: flex; justify-content: center; align-items: center}
#gnbframe .depth2 > li{width: 220px; line-height: 53px; text-align: center}
#gnbframe .gnb:not(.main) .depth2 > li > a{color: #fff}
#gnbframe .depth2 > li > a{font-size: 18px; font-weight: 600}
#gnbframe .wrap_submenu{position: absolute; left: 0; width: 100%; margin-top: 1px; z-index: 1000}
#gnbframe .wrap_depth3{position: relative; display: flex; justify-content: center; align-items: stretch; border-top: 1px solid #edebee; background: #fff}
#gnbframe .wrap_depth3:after{content: '';display: block;width: 100%;height: 15px;box-shadow: 0 6px 8px 0 #bbb;position: absolute;bottom: 0;}
#gnbframe .wrap_depth3 > *{border-right: 1px solid #edebee;}
#gnbframe .wrap_depth3 ul:nth-child(1){border-left:1px solid #edebee;}
#gnbframe .wrap_depth3 .tit_depth1{position: absolute; left: 50%; width: 330px; height: 100%; padding: 25px 22px; letter-spacing: -1px; font-size: 30px; font-weight: 700; transform: translateX(-770px);}
#gnbframe .depth3{width: 220px; padding: 25px 27px; text-align: left}
#gnbframe .depth3 li+li{margin-top: 25px;}
#gnbframe .depth1 .wrap_depth3 .tit_depth1{background-color: transparent; background-repeat: no-repeat; background-position: right bottom}
#gnbframe .depth1.menu1 .wrap_depth3 .tit_depth1{background-image: url(/resources/images/pearl/main/bg_depth3_1.png)}
#gnbframe .depth1.menu2 .wrap_depth3 .tit_depth1{background-image: url(/resources/images/pearl/main/bg_depth3_2.png)}
#gnbframe .depth1.menu3 .wrap_depth3 .tit_depth1{background-image: url(/resources/images/pearl/main/bg_depth3_3.png); transform: translateX(-660px)}
#gnbframe .depth1.menu4 .wrap_depth3 .tit_depth1{background-image: url(/resources/images/pearl/main/bg_depth3_4.png)}
#gnbframe .wrap_submenu, #gnbframe :not(.main) .depth1 .wrap_submenu .wrap_depth3{display: none}
#gnbframe .depth1:hover .wrap_submenu, #gnbframe .gnb:not(.main) .depth1.this .wrap_submenu, #gnbframe .gnb:not(.main) .depth1:hover .wrap_submenu{display: block}
#gnbframe .gnb:not(.main) .depth1.on .wrap_submenu .depth2, #gnbframe .gnb:not(.main) .depth1:hover .wrap_submenu .depth2, #gnbframe :not(.main) .depth1:hover .wrap_submenu .wrap_depth3{display: flex}
#gnbframe .main .wrap_submenu .depth2{background: #fff}

/* footer */
#footer{padding: 35px 31px 32px; border-top: 1px solid #e0e0e0; background: #fff;}
#footer:after{content:''; display: block; clear: both}
#footer :not(.copyright){letter-spacing: -1px;}
#footer .copyright{float: right; margin-bottom: 0; letter-spacing: -0.5px;}
#footer > *, #footer a{font-size: 13px; color: #999}
#footer .f_menu{float: left; margin-bottom: 0}
#footer .f_menu li{display: inline-block; line-height:1}
#footer .f_menu li + li{border-left: 1px solid #999; margin-left: 10px; padding-left: 10px}



		
		.visual { border-top: 1px solid #cecece; border-bottom: 1px solid #e4e4e4; clear:both; background:url('/resources/images/pearl/main/visual_img.jpg') center top no-repeat; margin-top:75px; width:100%; height:430px; position:relative;}
		.visual .visual_con {width:100%;  display: flex; justify-content: center; margin:0 auto; }
		
		.visual .visual_con p.visual_text { text-align:center; color:white; letter-spacing:-2px; font-family:'NGBold'; font-size:44px; padding-top:95px; }
		.visual .visual_con p.visual_text span { font-size:34px;font-family:'NGNormal'; display:block; margin-top:-10px; }
		.visual .visual_con .mypage_ing ul:after { display:block; content:""; clear:both; }
		.visual .visual_con .mypage_ing ul { background:white; letter-spacing:-1px; margin-top:42px;}
		.visual .visual_con .mypage_ing li {background:url('/images/app/mainImg/division_1.gif') right center no-repeat; float:left; color:#111111; font-size:15px; height:140px; width:15.666666%; text-align:center; padding-top:15px; box-sizing:border-box; }
		.visual .visual_con .mypage_ing li.width25 {background:url('/images/app/mainImg/division_1.gif') right center no-repeat; float:left; color:#111111; font-size:15px; height:140px; width:20.4559%; text-align:center; padding-top:15px; box-sizing:border-box; }
		.visual .visual_con .mypage_ing li.width20 {background:url('/images/app/mainImg/division_1.gif') right center no-repeat; float:left; color:#111111; font-size:15px; height:140px; width:16.3%; text-align:center; padding-top:15px; box-sizing:border-box; }
		.visual .visual_con .mypage_ing li:nth-child(1) { font-size:20px; color:#111111;font-family:'NGBold'; width:18%; text-align:left; padding:23px; box-sizing:border-box;}
		.visual .visual_con .mypage_ing li:nth-child(1) span { font-size: 15px;font-family:'NGNormal'; }
		.visual .visual_con .mypage_ing li.title { font-size:25px; color:#000080;font-family:'NGBold'; width:18%; text-align:center; padding:23px; box-sizing:border-box; margin-bottom: 20px;}
		.visual .visual_con .mypage_ing li span { font-size:34px; color:#666666; display:block;font-family:'NGBold';  }
		.visual .visual_con .mypage_ing li span.red { color:#e51937; }
		.visual .visual_con .mypage_ing li em { font-size:14px; color:#666666; display:block }
		.visual .visual_con .mypage_ing li em u { color:#e51937;text-decoration: none; }
		
		
		
		
		
		.visual .visual_con p.visual_text_member {  color:white; letter-spacing:0px;  font-size:14px;  margin-top: 20px;		}
		.visual .visual_con p.visual_text_member span {margin-left:5px; font-size:16px;  color: #efefef; font-weight: bold; }
		.visual .visual_con .main_ing .ul_main_ing { letter-spacing:-1px; margin-top:0px;   								}
		.visual .visual_con .main_ing .ul_main_ing li { list-style-type: none; float: left;    margin-bottom: -3px;     	}
		
		.visual .visual_con .main_ing .li_main_ing { width:23%; margin:0 3px 0 0; float:left; 								}
		.visual .visual_con .main_ing .li_main_ing ul{margin-top:0px; border-bottom:1px solid #d4d4d4;						}
		.visual .visual_con .main_ing .li_main_ing ul li{background:white; opacity: 0.7; padding:3px 5px 5px 13px;text-align:center;font-size:14px; color:#000000; }
		.visual .visual_con .main_ing .li_main_ing ul li.title {font-weight: bold; opacity:inherit;  padding: 8px; height: 55px;}
		
		.visual .visual_con .main_ing .li_main_ing ul li.title h1 { background: 0 5px no-repeat; background-size: 15px 15px; float:center; padding: 2px;}
		.visual .visual_con .main_ing .li_main_ing ul li.title span{color: #B22222; margin-left: 5px;   }
		.visual .visual_con .main_ing .li_main_ing ul li.title h1 span{ color: #666; font-weight: bold; }
		.visual .visual_con .main_ing .li_main_ing ul li span a{color:#e51937;}
		.visual .visual_con .main_ing .li_main_ing ul li span{font-size:1.2em; color:#666666; display:block;font-family:'NGBold'; color: #000000;}
		
		.visual .visual_con .main_ing .li_maint_ing { width:23%; margin:0 3px 0 0; float:left; 							}
		.visual .visual_con .main_ing .li_maint_ing ul{margin-top:0px; border-bottom:1px solid #d4d4d4;					}
		.visual .visual_con .main_ing .li_maint_ing ul li{background:white; opacity: 0.9; padding:3px 5px 5px 13px;text-align:center;font-size:14px; color:#000000;}
		.visual .visual_con .main_ing .li_maint_ing ul li.title {font-weight: bold; opacity:inherit;  padding: 8px; height: 55px;}
		.visual .visual_con .main_ing .li_maint_ing ul li.title h1 { background: 0 5px no-repeat; background-size: 15px 15px; float:center; padding: 2px;}
		.visual .visual_con .main_ing .li_maint_ing ul li.title span{color: #B22222; margin-left: 5px;   }
		.visual .visual_con .main_ing .li_maint_ing ul li.title h1 span{ color: #666; font-weight: bold; }
		.visual .visual_con .main_ing .li_maint_ing ul li span a{color:#e51937;}
		.visual .visual_con .main_ing .li_maint_ing ul li span{font-size:1.2em; color:#666666; display:block;font-family:'NGBold'; color: #000000;}
		
		
		.card {
		    position: relative;
		    display: -ms-flexbox;
		    display: flex;
		    -ms-flex-direction: column;
		    flex-direction: column;
		    min-width: 0;
		    word-wrap: break-word;
		    background-color: #fff;
		    background-clip: border-box;
		    border: 1px solid rgba(0,0,0,.125);
		    border-radius: 0.25rem;
		    opacity: 0.8;
		}
		
		.shadow-sm {
			margin-bottom: 0.5rem;
			box-shadow: 0 .225rem .25rem rgba(0,0,0,.075)!important;
		}
		
		.shadow-lg {
			
			
			 box-shadow: 0 .225rem .25rem rgba(0,0,0,.075)!important;
			 opacity: 0.95!important;
			 position: relative; 
			 background-color: #efefef; 
			 width:990px;
			 margin-bottom: 10px;
		}
		
		h2{
		display: block;
		    font-size: 1.2em;
		  /* margin-block-start: 0.83em;*/
		  /*  margin-block-end: 0.83em;*/
		    margin-inline-start: 0px;
		    margin-inline-end: 0px;
		    font-weight: bold;
		    color: #fff;
		    text-align: center;
		}	
		
		.card-body{
		
		    flex: 1 1 auto;
		    min-height: 1px;
		   /* padding: 1.25rem;*/
		    
		    padding-top: 0.80rem;
		    padding-right: 0.50rem;
		    padding-bottom: 0.0rem;;
		    padding-left: 0.50rem;
		    
		}
		
		.card-body span small{color:#d4d4d4; }
		.card-body span label {color:#fff; font-size: 1.5em; margin-right:5px; cursor:pointer;}
		.card-body span{margin-top:10px; font-size:1.2em; color:#666666; display:block;font-family:'NGBold'; color: #000000; text-align: center;}
		
		.biz_cont{ height: 252px; overflow-y: scroll; }
		.biz_cont .pagination{padding-top: 2px;}
		.biz_cont table{width: 100%; border-collapse: collapse; background-color: #fff;   }
		.biz_cont table tbody tr{
			border-bottom: 1px solid #e3ebf2;
			font-size: 12px; 
			vertical-align:middle;
		}
		.biz_cont table tbody tr td,th {
			height: 35px;
			padding: 5px;
			vertical-align:middle;
		}
		.biz_cont table th {
			height:30px; font-size:0.8em; font-weight:bold; color:#fff; background-color: #bab9b9;
		}	
		
		.arrow_top {
		    position: absolute;
		    display: block;
		    width: 0px;
		    height: 0px;
		    border-color: transparent;
		    border-style: solid ;
		    top: -22px;
		    content: " ";
		    border-top-width: 0;
		    border-bottom-color: #fff;
		    border-width: 11px;
		    opacity: 0.9;
		  
		}



		.notices{width:350px; height:250px; float:left; margin:0px 10px 0 5px;}
		.notices h1{border-bottom: 1px solid #d42d25; height:30px; font-size: 15px; font-weight: 700; color: #6a6561;margin-top: 20px;}
		.notices h1 a{float:right;}
		
		.bizlist{width:360px;   height:250px; float:left; margin:0px 20px 0 5px;}
		.bizlist h1{border-bottom: 1px solid #d42d25; height:30px; font-size: 15px; font-weight: 700; color: #6a6561;margin-top: 20px;}
		.bizlist h1 a{float:right;}
	
	
		.biz_notice .pagination{padding-top: 2px;}
		.biz_notice table{width: 100%; border-collapse: collapse; }
		.biz_notice table tbody tr{
		
			border-bottom: 1px solid #e3ebf2;
			font-size: 12px; 
		}
		.biz_notice table tbody tr td {
			height: 35px;
			padding-top: 7px;
		}

		.badge {display: inline-block;padding: 0.4em 0.5em 0.2em 0.5em; font-size: 80%;  font-weight: 700;line-height: 1; text-align: center; white-space: nowrap;vertical-align: baseline; border-radius: 0.25rem;}
	    
	    .badge-danger {color: #fff;background-color: #b02318;}
	    .badge-primary {color: #fff;background-color: #007bff; }
	    .badge-info {color: #fff; background-color: #17a2b8; }
	    .badge-secondary {color: #fff;background-color: #6c757d;}
	    .badge-warning {color: #fff;background-color: #ffc107;}
	    .badge-dark {color: #fff;background-color: #343a40; }
	    .badge-black {color: #fff;background-color: #2d2d2d; }
	    
	    
	    .summary{  padding: 0em 1em 0em 1em; border-radius: 1em; font-size: 0.9em; font-weight: bold; }
	    .summary-red{outline: 2px solid #8e2219;  background-color: #b02318; color: white;}
	    .summary-orange{outline: 2px solid #c07d45; background-color: #ea9a56;color: white;}
	    
	    .btn-more {width: 60px;border-radius: 100px;color: white;text-align: center;line-height: 20px; background: #ea9a56;border: 2px solid white;font-size: 10px; display: block;}
		
		.main_bgi_copy{position:absolute; bottom:10px; left:50px}
		.main_bgi_copy span{color: #efefef; margin-left: 10px; font-size: 0.8em;}
		
		.content_body{margin-bottom: 100px; margin-top: 10px;}
		.content_layout{width:100%; display: flex; height:450px; justify-content: center;}
		
		
		.service_banner{float: left; margin-right:15px;  height:90px; width:235px; outline: 1px solid #efefef; border-radius: 0.5em;}
		.cert_page_title{margin-left: 15px; margin-top: 15px; cursor: pointer;}
		.service_banner_title{font-size: 16px; color:#565656; margin-left:80px; margin-top:20px; font-weight: bold; cursor: pointer;}
		.service_banner_title p{font-size: 0.7em; color:#6c6c6c; margin-top: 5px;}
		
		
		.online_acc{background-image:URL(/resources/images/pearl/main/main_icon_04.png);background-repeat: no-repeat; background-size:80px; background-position: 5px 5px;}
		.faq_acc{background-image:URL(/resources/images/pearl/main/main_icon_06.png);background-repeat: no-repeat; background-size:80px; background-position: 5px 5px;}
		.online_manual{background-image:URL(/resources/images/pearl/main/main_icon_05.png);background-repeat: no-repeat; background-size:80px; background-position: 5px 5px;}

		.quick_menu{margin-left: 10px;}
		.quick_menu_box{padding: 20px 0 0 55px; margin-bottom: 10px;  width: 230px;  outline: 1px solid #efefef;}
		.call_info{background-image:URL(/resources/images/pearl/main/main_icon_02.png);		height: 90px;  background-repeat: no-repeat; background-size:35px; background-position: 10px 25px;background-color: #9ab3d4;   cursor: pointer;}
		.pgm_info{background-image:URL(/resources/images/pearl/main/main_icon_03.png);		height: 100px;  background-repeat: no-repeat; background-size:30px; background-position: 10px 20px; background-color: #8bbfe2; cursor: pointer;}
	    .toolkit_info{background-image:URL(/resources/images/pearl/main/main_icon_01.png);	height: 120px;  background-repeat: no-repeat; background-size:30px; background-position: 10px 35px;background-color: #9fccdb;}
		
		.quick_menu_head{color:#d8edf8; font-size: 0.7em;  margin-bottom: 5px; }	
		.quick_menu_title{color:#ffffff; font-size: 18px; font-weight: bold;}
		.quick_menu_info{color:#ffffff; font-size: 0.7em;}
		
		.paging_simple_numbers{float: right;}
	
/**** 2022 12 22 WS header, menu 수정 ****/
#header .logo.white a{display: block; top:15px; left:15px; width: 170px; height: 30px !important; background: url(/resources/images/pearl/main/logoWs.png) no-repeat center center; background-size: contain;}
#header .h_util{top:15px;}
#header .h_util.white .members:before{content:''; display: inline-block; width: 19px; height: 20px; margin-right: 8px; background: url(/resources/images/pearl/main/ico_member_w.png) no-repeat center center; background-size: 100% auto; vertical-align: middle}
#header .h_util.white .members{color:#ffffff;}
#header .h_util.white .top-logout{line-height:normal;font-size:xx-small;padding:3px 10px;border-radius:2px;font-weight:bold;color:#777}

#gnbframe {position:absolute;top:45px;width:100%;}
#gnbframe .gnb {display:inline-flex;flex-wrap:nowrap;justify-content:start;padding:0 1%;height:100%;background:transparent;}
#gnbframe .depth1 {margin-left:0px;flex-basis:100px;white-space:nowrap;position:relative;text-align:left;}
#gnbframe .depth1 > a{padding-right:15px;}
#gnbframe .depth1 > a:after{background:#ffffff;bottom:10px;}
#gnbframe .depth1 > a > * {color:#ffffff;}

#gnbframe .depth1 .wrap_submenu {position:absolute;left:0;top:70px;background:white}
#gnbframe .depth2 {flex-direction:column;width:260px;box-shadow:0px 5px 5px #beacb5;padding:0 20px;border-bottom:2px solid #a40c5e;}
#gnbframe .depth2 > li {line-height:30px;width:100%;text-align:left;padding:10px 0px;border-bottom:1px solid #f5f5f5;}
#gnbframe .depth2 > li > a {font-size:17px;white-space:normal;word-break:break-word;}
#gnbframe .depth2 a:hover{font-weight: 700; color: #b11067}

#gnbframe .depth3{width: 100%; padding: 0px; text-align: left;padding:0px;line-height:30px;margin:0px 20px;}
#gnbframe .depth3 li+li{margin-top: 0px;}
#gnbframe .depth3 li > a {white-space:normal;word-break:break-word;font-size:14px;}
#gnbframe .depth3 a:hover{font-weight: 700; color: #b11067}

#gnbframeTop{height:120px;background:#a40c5e;}
